<footer class="bg-secondary">
    <div class="container">
      <div class="row">
        <footer class="name col-md-5">
          <div class=" fw-bold text-dark text-opacity-75">
            Kết nối với CMC
          </div>
          <div class=" fw-bold text-dark text-opacity-75 ">
            <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/huongdan-1634321105674.svg" alt="" width="30px" height="30px">
            Hướng dẫn dặt
            
          </div>
          <div class="  fw-bold text-dark text-opacity-75">
            <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/pay-1634321105685.svg" alt="" width="30px" height="30px">
            Hướng dẫn thanh toán 
          </div>
          <div class=" fw-bold text-dark text-opacity-75">
            TRUNG TÂM IT
          </div>
        </footer>
        <footer class="col-md-7">
          <div class="anh2">
            <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/facebook-1607147833349.png" alt="" width="40px" height="30px">
            <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/insta-1607147833353.png" alt="" width="40px" height="30px">
            <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/twitter-1607147826657.png" alt="" width="40px" height="30px">
            <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/zalo-1607147826662.png" alt="" width="40px" height="30px">
          </div>
          <div class="col-md-6 fw-bold text-dark text-opacity-75">
            Chắp cánh ước mơ với IT
            
          </div>
          <div class="anhanh fw-bold text-dark text-opacity-75">
            Tải ứng dụng di động :
           
              <img src="https://www.vietjetair.com/static/media/unesco.27fb69d6.png" alt="" width="150px">
          
           
              <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/applestore-1607148441670.png" alt="" width="100px">
              <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/googleplay-1607148441674.png" alt="" width="100px">
  
          </div>
          <div class="col-md-6 fw-bold text-dark text-opacity-75">
          Địa chỉ 302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.
          </div>
        </footer>
        
      </div>
    </div> 
  </footer>

