<div class="container">
    <div class="row">
        <div class="anh col-6">
            <img src="{{product.thumbnail}}" alt="">
        </div>
        <div class="desc col-6">
            <h1>Thông tin về sản phẩm</h1>
            <span>Tên sản phẩm :{{product.title}}</span>
            <p>Giá:{{product.price}}$</p>
            <p>Chi tiết sản phẩm :{{product.description}}</p>
            Số lượng: <input type="number"><br>
            <button>Thêm vào giỏ hàng </button>
            <button>Mua ngay</button>
        </div>
    </div>
</div>